.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
 }

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__logo {
  height: 32px;
  width: 182px;
}

.header__logo_place {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight:bolder;
  z-index: 2;
}

.header__title_place {
  display: flex;
  margin-left: 64px;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px; 
  font-weight: normal;
  }

.header__link {
  text-decoration: none;
}

.header__subtitle_place {
  position:absolute;
  z-index: 2;
  left: 64px;
  bottom: 30px;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.header__square-pic_place {
  position: absolute;
  top: 64px;
  right: 0px;
}
.description{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.two-columns {
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 
.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph_span-weight {
  font-weight: bold;
}

.digits {
  margin: 100px auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section__subtitle {
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table-upper {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-lower {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.table__cell_heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__cell_text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
