.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
 }

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  height: 32px;
  width: 182px;
}

.header__logo_place {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight:bold;
  z-index: 2;
}

.header__title_place {
  display: flex;
  margin-left: 64px;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px; 
  font-weight: normal;
  }

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__subtitle_place {
  position:absolute;
  z-index: 2;
  left: 64px;
  bottom: 30px;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.header__square-pic_place {
  position: absolute;
  top: 64px;
  right: 0px;
}
.description{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.two-columns {
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 
.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph_span-weight {
  font-weight: bold;
}

.digits {
  margin: 100px auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section__subtitle {
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table-upper {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-lower {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table__cell {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.table__cell_heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__cell_text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.feinman {
  height: 890px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}

.feinman__title {
  margin-top: 100px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
}

.feinman__subtitle {
line-height: 51px;
font-size: 36px;
font-weight: normal;
margin-top: 70px;
z-index: 2;
}

.feinman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position:absolute;
  top: 50%;
  right: 48px;
  z-index: 2;
}

.feinman__link_text {
  text-decoration: none;
  color: #2f80ed;
}

.feinman__illustration {
  width: 867px;
  height: 637px;
  position:absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.kaufman {
  background-color: #1f1f1f;
  color: white;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kaufman__section-title {
  line-height: 1.15;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  width: 60%;
  margin-top: 90px;
  z-index: 2;
}

.kaufman__section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  width: 60%;
  margin-top: 20px;
  z-index: 2;
}

.kaufman__table_theme_dark {
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin: 0 auto 90px;
}

.kaufman__table {
  display:flex;
  flex-direction: row;
  width: 1100px;
  justify-content: space-between;
}

.kaufman__background-image {
  position:absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 1;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.footer {
  border: 1px solid red;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 350px;
}

.footer__columns {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  border: 1px solid green;
  position:absolute;
  bottom: 0;
  left: 0s;
}

.footer__author_place {
  margin: 18px 0 18px;
}

.footer__columns_author_link{
  color: white;
  text-decoration: none;
}

.footer__column_content_copyright {
  position: relative;
  display: flex;
  flex-basis: 711px;
  border: 1px solid greenyellow;
}

.footer__column {
  display: flex;
  flex-direction: column;
  border: 1px solid greenyellow;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer_social_icon {
  height: 16px;
  width: 16px;
}

.logo_place_footer {
  position: absolute;
  top: 0;
  left: 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}